@using HelpDeskApp.Infrastructure.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="odoo-topbar-user">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="odoo-topbar-left">            
            <button class="btn odoo-btn-primary btn-sm" style=align-items: center; gap: 4px;">               
                <span class="odoo-username">
                    @User.Identity?.Name
                </span>
                <span class="odoo-caret">▾</span>
            </button>            
            <a asp-area="Identity"
               asp-page="/Account/Manage/Index"
               class="btn odoo-btn-primary btn-sm">
                My Profile
            </a>

            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                  method="post"
                  style="margin: 0;">
                <button type="submit"
                        class="btn odoo-btn-primary btn-sm">
                    Log out
                </button>
            </form>

        </div>
    }
    else
    {
        <div class="odoo-auth-links">
            <a asp-area="Identity"
               asp-page="/Account/Register"
               class="btn odoo-btn-primary btn-sm">
                Register
            </a>

            <a asp-area="Identity"
               asp-page="/Account/Login"
               class="btn odoo-btn-primary btn-sm">
                Sign in
            </a>
        </div>
    }

</div>
